<!-- wp:template-part {"slug":"header","theme":"solidarityknowsnoborders","tagName":"header"} /-->

<!-- wp:image {"id":683,"sizeSlug":"large","linkDestination":"none","className":"pink-swallow"} -->
<figure class="wp-block-image size-large pink-swallow">
  <img
    src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/swallow-pink.svg"
    alt=""
    class="wp-image-683"
  />
</figure>
<!-- /wp:image -->

<!-- wp:image {"id":682,"sizeSlug":"large","linkDestination":"none","className":"yellow-swallow"} -->
<figure class="wp-block-image size-large yellow-swallow">
  <img
    src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/swallow-yellow-1.svg"
    alt=""
    class="wp-image-682"
  />
</figure>
<!-- /wp:image -->

<!-- wp:image {"id":681,"sizeSlug":"large","linkDestination":"none","className":"green-swallow"} -->
<figure class="wp-block-image size-large green-swallow">
  <img
    src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/swallow-green.svg"
    alt=""
    class="wp-image-681"
  />
</figure>
<!-- /wp:image -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1320px"}} -->
<div class="wp-block-group">
  <!-- wp:group {"layout":{"type":"constrained","contentSize":"1090px","justifyContent":"left"}} -->
  <div class="wp-block-group">
    <!-- wp:heading {"level":1} -->
    <h1 class="wp-block-heading">
      We are a community of migrant organisations, groups and individuals,
      working in solidarity, to end hostility and racism against migrants and
      refugees.
    </h1>
    <!-- /wp:heading -->

    <!-- wp:spacer {"height":"var:preset|spacing|medium"} -->
    <div
      style="height: var(--wp--preset--spacing--medium)"
      aria-hidden="true"
      class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:buttons -->
    <div class="wp-block-buttons">
      <!-- wp:button -->
      <div class="wp-block-button">
        <a
          class="wp-block-button__link wp-element-button"
          href="https://solidarityknowsnoborders.kinsta.cloud/our-journey/"
          >Read more about our journey</a
        >
      </div>
      <!-- /wp:button -->
    </div>
    <!-- /wp:buttons -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"90px"} -->
<div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<figure class="wp-block-video">
  <div class="custom-video-wrapper">
    <video
      id="custom-video"
      src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/SKNB-2.mp4"
      poster="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/11/placeholder-image.jpg"
    ></video>
    <button id="play-button" class="custom-play-button" style="display: block">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="29"
        height="36"
        viewBox="0 0 29 36"
        fill="none"
      >
        <path
          d="M3.05176e-05 36V0L28.2857 18L3.05176e-05 36Z"
          fill="white"
        ></path>
      </svg>
    </button>
    <button id="pause-button" class="custom-pause-button" style="display: none">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="29"
        height="36"
        viewBox="0 0 29 36"
        fill="none"
      >
        <path d="M5 0H10V36H5V0ZM19 0H24V36H19V0Z" fill="white"></path>
      </svg>
    </button>
  </div>
</figure>

<!-- wp:spacer {"height":"90px"} -->
<div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"className":"highlighted-content-container","layout":{"type":"constrained","justifyContent":"center","contentSize":"1320px","wideSize":"1320px"}} -->
<div class="wp-block-group highlighted-content-container">
  <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|medium","left":"0"},"padding":{"top":"20px","bottom":"20px","left":"20px","right":"20px"}}},"backgroundColor":"light-yellow","className":"highlighted-card"} -->
  <div
    class="wp-block-columns highlighted-card has-light-yellow-background-color has-background"
    style="
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
    "
  >
    <!-- wp:column {"width":""} -->
    <div class="wp-block-column">
      <!-- wp:paragraph {"style":{"typography":{"textTransform":"uppercase","letterSpacing":"0.96px"}},"backgroundColor":"white","fontSize":"small"} -->
      <p
        class="has-white-background-color has-background has-small-font-size"
        style="letter-spacing: 0.96px; text-transform: uppercase"
      >
        Highlighted
      </p>
      <!-- /wp:paragraph -->

      <!-- wp:spacer {"height":"var:preset|spacing|medium"} -->
      <div
        style="height: var(--wp--preset--spacing--medium)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:heading -->
      <h2 class="wp-block-heading">SKNB Organising workbook</h2>
      <!-- /wp:heading -->

      <!-- wp:spacer {"height":"var:preset|spacing|small"} -->
      <div
        style="height: var(--wp--preset--spacing--small)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:paragraph -->
      <p>
        In order to create the world we want to win, we must build our power as
        a progressive movement for social justice that does not leave anyone
        behind.
      </p>
      <!-- /wp:paragraph -->

      <!-- wp:spacer {"height":"var:preset|spacing|medium"} -->
      <div
        style="height: var(--wp--preset--spacing--medium)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:buttons -->
      <div class="wp-block-buttons">
        <!-- wp:button {"backgroundColor":"light-yellow","className":"full-width-button"} -->
        <div class="wp-block-button full-width-button">
          <a
            class="wp-block-button__link has-light-yellow-background-color has-background wp-element-button"
            href="https://solidarityknowsnoborders.kinsta.cloud/resource/sknb-organising-workbook/"
            >View resource</a
          >
        </div>
        <!-- /wp:button -->
      </div>
      <!-- /wp:buttons -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"className":"image-column"} -->
    <div class="wp-block-column image-column">
      <!-- wp:image {"align":"right","id":361,"sizeSlug":"full","linkDestination":"none"} -->
      <figure class="wp-block-image alignright size-full">
        <img
          src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Image1-3.png"
          alt=""
          class="wp-image-361"
        />
      </figure>
      <!-- /wp:image -->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"90px"} -->
<div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1320px"}} -->
<div class="wp-block-group">
  <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|medium"}}}} -->
  <div class="wp-block-columns">
    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:heading {"level":1} -->
      <h1 class="wp-block-heading">There are 76 groups in our community</h1>
      <!-- /wp:heading -->

      <!-- wp:spacer {"height":"var:preset|spacing|medium"} -->
      <div
        style="height: var(--wp--preset--spacing--medium)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:buttons -->
      <div class="wp-block-buttons">
        <!-- wp:button -->
        <div class="wp-block-button">
          <a
            class="wp-block-button__link wp-element-button"
            href="https://solidarityknowsnoborders.kinsta.cloud/community/"
            >Explore the community</a
          >
        </div>
        <!-- /wp:button -->
      </div>
      <!-- /wp:buttons -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:carbon-fields/map-display-block /-->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"90px"} -->
<div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large","left":"0","right":"0"}}},"backgroundColor":"light-yellow","className":"image-gallery","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div
  class="wp-block-group image-gallery has-light-yellow-background-color has-background"
  style="
    padding-top: var(--wp--preset--spacing--large);
    padding-right: 0;
    padding-bottom: var(--wp--preset--spacing--large);
    padding-left: 0;
  "
>
  <!-- wp:image {"id":437,"scale":"cover","sizeSlug":"full","linkDestination":"none","className":"rotated-image-right "} -->
  <figure class="wp-block-image size-full rotated-image-right">
    <img
      src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/15.10-1.png"
      alt=""
      class="wp-image-437"
      style="object-fit: cover"
    />
  </figure>
  <!-- /wp:image -->

  <!-- wp:image {"id":558,"scale":"cover","sizeSlug":"full","linkDestination":"none","className":"rotated-image-left "} -->
  <figure class="wp-block-image size-full rotated-image-left">
    <img
      src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/15.10-2.png"
      alt=""
      class="wp-image-558"
      style="object-fit: cover"
    />
  </figure>
  <!-- /wp:image -->

  <!-- wp:image {"id":438,"scale":"cover","sizeSlug":"full","linkDestination":"none","className":"rotated-image-right "} -->
  <figure class="wp-block-image size-full rotated-image-right">
    <img
      src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/15.10.21_MO_SLRDocu_53.png"
      alt=""
      class="wp-image-438"
      style="object-fit: cover"
    />
  </figure>
  <!-- /wp:image -->

  <!-- wp:image {"id":439,"scale":"cover","sizeSlug":"full","linkDestination":"none","className":"rotated-image-left "} -->
  <figure class="wp-block-image size-full rotated-image-left">
    <img
      src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/1115.10.21_MO_SLRDocu_53.png"
      alt=""
      class="wp-image-439"
      style="object-fit: cover"
    />
  </figure>
  <!-- /wp:image -->
</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"90px"} -->
<div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1320px"}} -->
<div class="wp-block-group">
  <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
  <div class="wp-block-group">
    <!-- wp:heading {"level":1} -->
    <h1 class="wp-block-heading">Share the knowledge</h1>
    <!-- /wp:heading -->

    <!-- wp:buttons -->
    <div class="wp-block-buttons">
      <!-- wp:button -->
      <div class="wp-block-button">
        <a
          class="wp-block-button__link wp-element-button"
          href="https://solidarityknowsnoborders.kinsta.cloud/resources/"
          >Browse all resources</a
        >
      </div>
      <!-- /wp:button -->
    </div>
    <!-- /wp:buttons -->
  </div>
  <!-- /wp:group -->

  <!-- wp:spacer {"height":"var:preset|spacing|large"} -->
  <div
    style="height: var(--wp--preset--spacing--large)"
    aria-hidden="true"
    class="wp-block-spacer"
  ></div>
  <!-- /wp:spacer -->

  <!-- wp:query {"queryId":26,"query":{"perPage":"8","pages":0,"offset":0,"postType":"resource","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"layout":{"type":"constrained","justifyContent":"left","contentSize":""}} -->
  <div class="wp-block-query">
    <!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default","columnCount":3}} -->
    <!-- wp:carbon-fields/resource-metadata /-->

    <!-- wp:spacer {"height":"var:preset|spacing|small"} -->
    <div
      style="height: var(--wp--preset--spacing--small)"
      aria-hidden="true"
      class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:post-title {"level":3,"isLink":true,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|small"}},"elements":{"link":{"color":{"text":"var:preset|color|black"}}}},"className":"stretched-link"} /-->

    <!-- wp:spacer {"height":"5px"} -->
    <div style="height: 5px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:post-featured-image {"aspectRatio":"1","width":"360px","height":""} /-->
    <!-- /wp:post-template -->

    <!-- wp:query-pagination {"paginationArrow":"arrow","showLabel":false,"layout":{"type":"flex","justifyContent":"space-between","flexWrap":"nowrap"}} -->
    <!-- wp:query-pagination-previous /-->

    <!-- wp:query-pagination-numbers /-->

    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination -->
  </div>
  <!-- /wp:query -->
</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"90px"} -->
<div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|large"}},"layout":{"type":"constrained","contentSize":"1320px","justifyContent":"center"}} -->
<div class="wp-block-group">
  <!-- wp:heading {"level":1} -->
  <h1 class="wp-block-heading">Take action</h1>
  <!-- /wp:heading -->

  <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
  <div class="wp-block-group">
    <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|large"}}}} -->
    <div class="wp-block-columns">
      <!-- wp:column {"className":"take-action-wrapper"} -->
      <div class="wp-block-column take-action-wrapper">
        <!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small","left":"var:preset|spacing|small","right":"var:preset|spacing|small"},"blockGap":{"top":"var:preset|spacing|small","left":"var:preset|spacing|small"}}},"className":"take-action"} -->
        <div
          class="wp-block-columns take-action"
          style="
            padding-top: var(--wp--preset--spacing--small);
            padding-right: var(--wp--preset--spacing--small);
            padding-bottom: var(--wp--preset--spacing--small);
            padding-left: var(--wp--preset--spacing--small);
          "
        >
          <!-- wp:column {"width":"60%","style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
          <div class="wp-block-column" style="flex-basis: 60%">
            <!-- wp:heading {"level":3} -->
            <h3 class="wp-block-heading">
              <a
                href="https://solidarityknowsnoborders.kinsta.cloud/community/"
                data-type="link"
                data-id="https://solidarityknowsnoborders.kinsta.cloud/community/"
                >Join our community</a
              >
            </h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>
              Solidarity Knows No Borders (SKNB) is a community of migrant
              organisations, groups and individuals, working in solidarity, to
              end hostility and racism against migrants and refugees.
            </p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->

          <!-- wp:column {"verticalAlignment":"bottom"} -->
          <div class="wp-block-column is-vertically-aligned-bottom">
            <!-- wp:image {"id":733,"width":180,"sizeSlug":"large","linkDestination":"none"} -->
            <figure class="wp-block-image size-large is-resized">
              <img
                src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/11/act-now-1024x1024.png"
                alt=""
                class="wp-image-733"
                style="width: 180px"
                width="180"
              />
            </figure>
            <!-- /wp:image -->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"className":"take-action-wrapper"} -->
      <div class="wp-block-column take-action-wrapper">
        <!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small","left":"var:preset|spacing|small","right":"var:preset|spacing|small"},"blockGap":{"top":"var:preset|spacing|small","left":"var:preset|spacing|small"}}},"className":"take-action"} -->
        <div
          class="wp-block-columns take-action"
          style="
            padding-top: var(--wp--preset--spacing--small);
            padding-right: var(--wp--preset--spacing--small);
            padding-bottom: var(--wp--preset--spacing--small);
            padding-left: var(--wp--preset--spacing--small);
          "
        >
          <!-- wp:column {"width":"60%","style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
          <div class="wp-block-column" style="flex-basis: 60%">
            <!-- wp:heading {"level":3} -->
            <h3 class="wp-block-heading">
              <a
                href="https://actionnetwork.org/forms/speak-to-a-solidarity-knows-no-borders-organiser/"
                data-type="link"
                data-id="https://actionnetwork.org/forms/speak-to-a-solidarity-knows-no-borders-organiser/"
                >Speak to one of our organisers</a
              >
            </h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>
              We have a number of experienced organisers who can help you to
              take action and grow the movement. We can link you with others,
              organise action planning sessions and much more!
            </p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->

          <!-- wp:column {"verticalAlignment":"bottom"} -->
          <div class="wp-block-column is-vertically-aligned-bottom">
            <!-- wp:image {"id":727,"width":180,"sizeSlug":"large","linkDestination":"none"} -->
            <figure class="wp-block-image size-large is-resized">
              <img
                src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/11/speak-to-an-organiser-1024x1024.png"
                alt=""
                class="wp-image-727"
                style="width: 180px"
                width="180"
              />
            </figure>
            <!-- /wp:image -->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
  <div class="wp-block-group">
    <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|large"}}}} -->
    <div class="wp-block-columns">
      <!-- wp:column {"className":"take-action-wrapper"} -->
      <div class="wp-block-column take-action-wrapper">
        <!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small","left":"var:preset|spacing|small","right":"var:preset|spacing|small"},"blockGap":{"top":"var:preset|spacing|small","left":"var:preset|spacing|small"}}},"className":"take-action"} -->
        <div
          class="wp-block-columns take-action"
          style="
            padding-top: var(--wp--preset--spacing--small);
            padding-right: var(--wp--preset--spacing--small);
            padding-bottom: var(--wp--preset--spacing--small);
            padding-left: var(--wp--preset--spacing--small);
          "
        >
          <!-- wp:column {"width":"60%","style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
          <div class="wp-block-column" style="flex-basis: 60%">
            <!-- wp:heading {"level":3} -->
            <h3 class="wp-block-heading">
              <a
                href="https://solidarityknowsnoborders.kinsta.cloud/resources/?category_name=organising&amp;resource_format=&amp;resource_language=&amp;search_query="
                data-type="link"
                data-id="https://solidarityknowsnoborders.kinsta.cloud/resources/?category_name=organising&amp;resource_format=&amp;resource_language=&amp;search_query="
                >Explore organising resources</a
              >
            </h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>
              We have developed campaigning and organising resources for you to
              use. If you need t-shirts, banners, leaflets, badges and other
              resources.
            </p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->

          <!-- wp:column {"verticalAlignment":"bottom"} -->
          <div class="wp-block-column is-vertically-aligned-bottom">
            <!-- wp:image {"id":729,"width":180,"sizeSlug":"large","linkDestination":"none"} -->
            <figure class="wp-block-image size-large is-resized">
              <img
                src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/11/explore-resources-1024x1024.png"
                alt=""
                class="wp-image-729"
                style="width: 180px"
                width="180"
              />
            </figure>
            <!-- /wp:image -->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"className":"take-action-wrapper"} -->
      <div class="wp-block-column take-action-wrapper">
        <!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small","left":"var:preset|spacing|small","right":"var:preset|spacing|small"},"blockGap":{"top":"var:preset|spacing|small","left":"var:preset|spacing|small"}}},"className":"take-action"} -->
        <div
          class="wp-block-columns take-action"
          style="
            padding-top: var(--wp--preset--spacing--small);
            padding-right: var(--wp--preset--spacing--small);
            padding-bottom: var(--wp--preset--spacing--small);
            padding-left: var(--wp--preset--spacing--small);
          "
        >
          <!-- wp:column {"width":"60%","style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
          <div class="wp-block-column" style="flex-basis: 60%">
            <!-- wp:heading {"level":3} -->
            <h3 class="wp-block-heading">
              <a
                href="https://twitter.com/FIRMCharter"
                data-type="link"
                data-id="https://twitter.com/FIRMCharter"
                >Spread the word</a
              >
            </h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>
              We have developed campaigning and organising resources for you to
              use. If you need t-shirts, banners, leaflets, badges and other
              resources.
            </p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->

          <!-- wp:column {"verticalAlignment":"bottom"} -->
          <div class="wp-block-column is-vertically-aligned-bottom">
            <!-- wp:image {"id":728,"width":180,"sizeSlug":"large","linkDestination":"none"} -->
            <figure class="wp-block-image size-large is-resized">
              <img
                src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/11/spread-the-word-1024x1024.png"
                alt=""
                class="wp-image-728"
                style="width: 180px"
                width="180"
              />
            </figure>
            <!-- /wp:image -->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"90px"} -->
<div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","theme":"solidarityknowsnoborders","tagName":"footer"} /-->
