<!-- wp:template-part {"slug":"header","theme":"solidarityknowsnoborders","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:group {"layout":{"type":"constrained","justifyContent":"left","contentSize":"630px"}} -->
  <div class="wp-block-group">
    <!-- wp:heading {"level":1} -->
    <h1 class="wp-block-heading">Our journey</h1>
    <!-- /wp:heading -->

    <!-- wp:spacer {"height":"var:preset|spacing|small"} -->
    <div
      style="height: var(--wp--preset--spacing--small)"
      aria-hidden="true"
      class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:paragraph -->
    <p>
      Solidarity Knows No Borders (SKNB) is a community of migrant
      organisations, groups and individuals, working in solidarity, to end
      hostility and racism against migrants and refugees. Together we are
      demanding dignity and justice for all.
    </p>
    <!-- /wp:paragraph -->

    <!-- wp:spacer {"height":"var:preset|spacing|medium"} -->
    <div
      style="height: var(--wp--preset--spacing--medium)"
      aria-hidden="true"
      class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:html -->
    <select id="linkSelector">
      <option value="" selected>Jump to section...</option>
    </select>
    <!-- /wp:html -->
  </div>
  <!-- /wp:group -->

  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:separator -->
  <hr class="wp-block-separator has-alpha-channel-opacity" />
  <!-- /wp:separator -->

  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:group {"layout":{"type":"constrained","justifyContent":"left","contentSize":"630px"}} -->
  <div class="wp-block-group">
    <!-- wp:heading {"level":1} -->
    <h1 class="wp-block-heading" id="key-milestones">Key milestones</h1>
    <!-- /wp:heading -->

    <!-- wp:spacer {"height":"var:preset|spacing|small"} -->
    <div
      style="height: var(--wp--preset--spacing--small)"
      aria-hidden="true"
      class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:paragraph {"textColor":"black"} -->
    <p class="has-black-color has-text-color">
      The solidarity movement emerged in response to the current unjust
      immigration system and unites us in our call for a new system based on
      Dignity, Justice, Solidarity and Welcome as set out in the
      <a href="http://www.bbc" data-type="link" data-id="www.bbc"
        >Fair Immigration Movement (FIRM) Charter.</a
      >
    </p>
    <!-- /wp:paragraph -->

    <!-- wp:spacer {"height":"90px"} -->
    <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained","justifyContent":"center","contentSize":"1320px"}} -->
<div class="wp-block-group">
  <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|large"}}}} -->
  <div class="wp-block-columns">
    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:heading {"backgroundColor":"light-yellow"} -->
      <h2
        class="wp-block-heading has-light-yellow-background-color has-background"
      >
        2019
      </h2>
      <!-- /wp:heading -->

      <!-- wp:spacer {"height":"var:preset|spacing|small"} -->
      <div
        style="height: var(--wp--preset--spacing--small)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:paragraph -->
      <p>
        As a community, we organise and strategise, share resources to build
        collective campaigns and actions. We show up in solidarity with each
        other; for both short term and long term change.
      </p>
      <!-- /wp:paragraph -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:image {"id":558,"scale":"cover","sizeSlug":"full","linkDestination":"none","className":"rotated-image-right"} -->
      <figure class="wp-block-image size-full rotated-image-right">
        <img
          src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Mask-group2.png"
          alt=""
          class="wp-image-558"
          style="object-fit: cover"
        />
      </figure>
      <!-- /wp:image -->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->

  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:separator -->
  <hr class="wp-block-separator has-alpha-channel-opacity" />
  <!-- /wp:separator -->

  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|large"}}}} -->
  <div class="wp-block-columns">
    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:image {"id":325,"sizeSlug":"full","linkDestination":"none","className":"rotated-image-left"} -->
      <figure class="wp-block-image size-full rotated-image-left">
        <img
          src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/§Screenshot-2023-08-02-at-09.38-3.png"
          alt=""
          class="wp-image-325"
        />
      </figure>
      <!-- /wp:image -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:heading {"backgroundColor":"light-yellow"} -->
      <h2
        class="wp-block-heading has-light-yellow-background-color has-background"
      >
        2020
      </h2>
      <!-- /wp:heading -->

      <!-- wp:spacer {"height":"var:preset|spacing|small"} -->
      <div
        style="height: var(--wp--preset--spacing--small)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:paragraph -->
      <p>
        Together we are strong! We work to deepen and expand grassroots
        organising to share a platform with organisations, groups and
        communities around the country, to plan and coordinate actions of
        solidarity to reach more people. This is how we believe a powerful
        migrant justice movement can be built.
      </p>
      <!-- /wp:paragraph -->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->

  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:separator -->
  <hr class="wp-block-separator has-alpha-channel-opacity" />
  <!-- /wp:separator -->

  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|large"}}}} -->
  <div class="wp-block-columns">
    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:heading {"backgroundColor":"light-yellow"} -->
      <h2
        class="wp-block-heading has-light-yellow-background-color has-background"
      >
        2021
      </h2>
      <!-- /wp:heading -->

      <!-- wp:spacer {"height":"var:preset|spacing|small"} -->
      <div
        style="height: var(--wp--preset--spacing--small)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:paragraph -->
      <p>
        The first version was made in the run up to a week of action in 2021
        where over 60 groups came together across the country to take action
        against the hostile environment immigration system.
      </p>
      <!-- /wp:paragraph -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:image {"id":326,"sizeSlug":"full","linkDestination":"none","className":"rotated-image-right"} -->
      <figure class="wp-block-image size-full rotated-image-right">
        <img
          src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Rectangle-44.png"
          alt=""
          class="wp-image-326"
        />
      </figure>
      <!-- /wp:image -->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->

  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:separator -->
  <hr class="wp-block-separator has-alpha-channel-opacity" />
  <!-- /wp:separator -->

  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|large"}}}} -->
  <div class="wp-block-columns">
    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:image {"id":327,"sizeSlug":"full","linkDestination":"none","className":"rotated-image-left"} -->
      <figure class="wp-block-image size-full rotated-image-left">
        <img
          src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Screenshot-2023-08-02-at-09.38-2.png"
          alt=""
          class="wp-image-327"
        />
      </figure>
      <!-- /wp:image -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:heading {"backgroundColor":"light-yellow"} -->
      <h2
        class="wp-block-heading has-light-yellow-background-color has-background"
      >
        2022
      </h2>
      <!-- /wp:heading -->

      <!-- wp:spacer {"height":"var:preset|spacing|small"} -->
      <div
        style="height: var(--wp--preset--spacing--small)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:paragraph -->
      <p>
        We welcome groups, organisations, individuals who share in our
        commitment for migrant justice. You can join by signing up to the
        Charter, contacting us, and joining regular organising meetings. If you
        have an idea that you think the SKNB community could help facilitate let
        us know.
      </p>
      <!-- /wp:paragraph -->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->

  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:separator -->
  <hr class="wp-block-separator has-alpha-channel-opacity" />
  <!-- /wp:separator -->

  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|large"}}}} -->
  <div class="wp-block-columns">
    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:heading {"backgroundColor":"light-yellow"} -->
      <h2
        class="wp-block-heading has-light-yellow-background-color has-background"
      >
        2023
      </h2>
      <!-- /wp:heading -->

      <!-- wp:spacer {"height":"var:preset|spacing|small"} -->
      <div
        style="height: var(--wp--preset--spacing--small)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:paragraph -->
      <p>
        In order to create the world we want to win, we must build our power as
        a progressive movement for social justice that does not leave anyone
        behind.
      </p>
      <!-- /wp:paragraph -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:image {"id":550,"sizeSlug":"full","linkDestination":"none","className":"rotated-image-right"} -->
      <figure class="wp-block-image size-full rotated-image-right">
        <img
          src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/banner.png"
          alt=""
          class="wp-image-550"
        />
      </figure>
      <!-- /wp:image -->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1320px"}} -->
<div class="wp-block-group">
  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:separator -->
  <hr class="wp-block-separator has-alpha-channel-opacity" />
  <!-- /wp:separator -->

  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|large"}}}} -->
  <div class="wp-block-columns">
    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:heading -->
      <h2 class="wp-block-heading">FIRM Charter</h2>
      <!-- /wp:heading -->

      <!-- wp:spacer {"height":"var:preset|spacing|small"} -->
      <div
        style="height: var(--wp--preset--spacing--small)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:paragraph -->
      <p>
        The Fair Immigration Reform Movement (FIRM) unites a call for humane
        immigration and inclusion policies that can truly reflect our society’s
        democratic values, and that draws on a distinguished history in Britain
        of standing for the dignity and justice of all.
      </p>
      <!-- /wp:paragraph -->

      <!-- wp:paragraph -->
      <p>
        The Charter emerged as a result of conversations with those who face the
        sharp end of current policies: with their family and friends,
        campaigners, politicians, journalists, case workers, volunteers, and
        many others who support everyone who has been affected by the
        increasingly careless and brutal immigration policies in Britain.
      </p>
      <!-- /wp:paragraph -->

      <!-- wp:paragraph -->
      <p>
        The Charter emerged as a result of conversations with those who face the
        sharp end of current policies: with their family and friends,
        campaigners, politicians, journalists, case workers, volunteers, and
        many others who support everyone who has been affected by the
        increasingly careless and brutal immigration policies in Britain.
      </p>
      <!-- /wp:paragraph -->

      <!-- wp:paragraph -->
      <p>
        Through these discussions, it became clear that a united effort is now
        required to achieve the transformative change that must take place, as
        well as a blueprint on exactly how to accomplish these changes through a
        concerted mobilisation.
      </p>
      <!-- /wp:paragraph -->

      <!-- wp:paragraph -->
      <p>
        The FIRM Charter sets out these basic demands, as well as the core
        principles by which migrant communities, social justice campaigners, and
        progressive organisations will work together to realise.
      </p>
      <!-- /wp:paragraph -->

      <!-- wp:spacer {"height":"var:preset|spacing|large"} -->
      <div
        style="height: var(--wp--preset--spacing--large)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:heading {"level":3} -->
      <h3 class="wp-block-heading">Read the FIRM Charter in:</h3>
      <!-- /wp:heading -->

      <!-- wp:spacer {"height":"var:preset|spacing|medium"} -->
      <div
        style="height: var(--wp--preset--spacing--medium)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left"}} -->
      <div class="wp-block-group">
        <!-- wp:file {"id":636,"href":"https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf","displayPreview":false} -->
        <div class="wp-block-file">
          <a
            href="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf"
            class="wp-block-file__button wp-element-button"
            download
            >Amharic</a
          >
        </div>
        <!-- /wp:file -->

        <!-- wp:file {"id":636,"href":"https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf","displayPreview":false} -->
        <div class="wp-block-file">
          <a
            href="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf"
            class="wp-block-file__button wp-element-button"
            download
            >Arabic</a
          >
        </div>
        <!-- /wp:file -->

        <!-- wp:file {"id":636,"href":"https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf","displayPreview":false} -->
        <div class="wp-block-file">
          <a
            href="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf"
            class="wp-block-file__button wp-element-button"
            download
            >English</a
          >
        </div>
        <!-- /wp:file -->

        <!-- wp:file {"id":636,"href":"https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf","displayPreview":false} -->
        <div class="wp-block-file">
          <a
            href="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf"
            class="wp-block-file__button wp-element-button"
            download
            >French</a
          >
        </div>
        <!-- /wp:file -->

        <!-- wp:file {"id":636,"href":"https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf","displayPreview":false} -->
        <div class="wp-block-file">
          <a
            href="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf"
            class="wp-block-file__button wp-element-button"
            download
            >Lingala</a
          >
        </div>
        <!-- /wp:file -->

        <!-- wp:file {"id":636,"href":"https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf","displayPreview":false} -->
        <div class="wp-block-file">
          <a
            href="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf"
            class="wp-block-file__button wp-element-button"
            download
            >Polish</a
          >
        </div>
        <!-- /wp:file -->

        <!-- wp:file {"id":636,"href":"https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf","displayPreview":false} -->
        <div class="wp-block-file">
          <a
            href="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf"
            class="wp-block-file__button wp-element-button"
            download
            >Romanian</a
          >
        </div>
        <!-- /wp:file -->

        <!-- wp:file {"id":636,"href":"https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf","displayPreview":false} -->
        <div class="wp-block-file">
          <a
            href="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf"
            class="wp-block-file__button wp-element-button"
            download
            >Spanish</a
          >
        </div>
        <!-- /wp:file -->

        <!-- wp:file {"id":636,"href":"https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf","displayPreview":false} -->
        <div class="wp-block-file">
          <a
            href="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/Placeholder-PDF.pdf"
            class="wp-block-file__button wp-element-button"
            download
            >Tigrinya</a
          >
        </div>
        <!-- /wp:file -->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:image {"align":"center","id":281,"width":380,"sizeSlug":"large","linkDestination":"none"} -->
      <figure class="wp-block-image aligncenter size-large is-resized">
        <img
          src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/10/08d23d3dcc362e2f3f5fe2cd81b1a9af-749x1024.png"
          alt=""
          class="wp-image-281"
          style="width: 380px"
          width="380"
        />
      </figure>
      <!-- /wp:image -->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->

  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:separator -->
  <hr class="wp-block-separator has-alpha-channel-opacity" />
  <!-- /wp:separator -->

  <!-- wp:spacer {"height":"90px"} -->
  <div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
</div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|large"}},"layout":{"type":"constrained","contentSize":"1320px","justifyContent":"center"}} -->
<div class="wp-block-group">
  <!-- wp:heading {"level":1} -->
  <h1 class="wp-block-heading">Take action</h1>
  <!-- /wp:heading -->

  <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
  <div class="wp-block-group">
    <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|large"}}}} -->
    <div class="wp-block-columns">
      <!-- wp:column {"className":"take-action-wrapper"} -->
      <div class="wp-block-column take-action-wrapper">
        <!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small","left":"var:preset|spacing|small","right":"var:preset|spacing|small"},"blockGap":{"top":"var:preset|spacing|small","left":"var:preset|spacing|small"}}},"className":"take-action"} -->
        <div
          class="wp-block-columns take-action"
          style="
            padding-top: var(--wp--preset--spacing--small);
            padding-right: var(--wp--preset--spacing--small);
            padding-bottom: var(--wp--preset--spacing--small);
            padding-left: var(--wp--preset--spacing--small);
          "
        >
          <!-- wp:column {"width":"60%","style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
          <div class="wp-block-column" style="flex-basis: 60%">
            <!-- wp:heading {"level":3} -->
            <h3 class="wp-block-heading">
              <a
                href="https://solidarityknowsnoborders.kinsta.cloud/community/"
                data-type="link"
                data-id="https://solidarityknowsnoborders.kinsta.cloud/community/"
                >Join our community</a
              >
            </h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>
              Solidarity Knows No Borders (SKNB) is a community of migrant
              organisations, groups and individuals, working in solidarity, to
              end hostility and racism against migrants and refugees.
            </p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->

          <!-- wp:column {"verticalAlignment":"bottom"} -->
          <div class="wp-block-column is-vertically-aligned-bottom">
            <!-- wp:image {"id":733,"width":180,"sizeSlug":"large","linkDestination":"none"} -->
            <figure class="wp-block-image size-large is-resized">
              <img
                src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/11/act-now-1024x1024.png"
                alt=""
                class="wp-image-733"
                style="width: 180px"
                width="180"
              />
            </figure>
            <!-- /wp:image -->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"className":"take-action-wrapper"} -->
      <div class="wp-block-column take-action-wrapper">
        <!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small","left":"var:preset|spacing|small","right":"var:preset|spacing|small"},"blockGap":{"top":"var:preset|spacing|small","left":"var:preset|spacing|small"}}},"className":"take-action"} -->
        <div
          class="wp-block-columns take-action"
          style="
            padding-top: var(--wp--preset--spacing--small);
            padding-right: var(--wp--preset--spacing--small);
            padding-bottom: var(--wp--preset--spacing--small);
            padding-left: var(--wp--preset--spacing--small);
          "
        >
          <!-- wp:column {"width":"60%","style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
          <div class="wp-block-column" style="flex-basis: 60%">
            <!-- wp:heading {"level":3} -->
            <h3 class="wp-block-heading">
              <a
                href="https://actionnetwork.org/forms/speak-to-a-solidarity-knows-no-borders-organiser/"
                data-type="link"
                data-id="https://actionnetwork.org/forms/speak-to-a-solidarity-knows-no-borders-organiser/"
                >Speak to one of our organisers</a
              >
            </h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>
              We have a number of experienced organisers who can help you to
              take action and grow the movement. We can link you with others,
              organise action planning sessions and much more!
            </p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->

          <!-- wp:column {"verticalAlignment":"bottom"} -->
          <div class="wp-block-column is-vertically-aligned-bottom">
            <!-- wp:image {"id":727,"width":180,"sizeSlug":"large","linkDestination":"none"} -->
            <figure class="wp-block-image size-large is-resized">
              <img
                src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/11/speak-to-an-organiser-1024x1024.png"
                alt=""
                class="wp-image-727"
                style="width: 180px"
                width="180"
              />
            </figure>
            <!-- /wp:image -->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
  <div class="wp-block-group">
    <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|large"}}}} -->
    <div class="wp-block-columns">
      <!-- wp:column {"className":"take-action-wrapper"} -->
      <div class="wp-block-column take-action-wrapper">
        <!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small","left":"var:preset|spacing|small","right":"var:preset|spacing|small"},"blockGap":{"top":"var:preset|spacing|small","left":"var:preset|spacing|small"}}},"className":"take-action"} -->
        <div
          class="wp-block-columns take-action"
          style="
            padding-top: var(--wp--preset--spacing--small);
            padding-right: var(--wp--preset--spacing--small);
            padding-bottom: var(--wp--preset--spacing--small);
            padding-left: var(--wp--preset--spacing--small);
          "
        >
          <!-- wp:column {"width":"60%","style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
          <div class="wp-block-column" style="flex-basis: 60%">
            <!-- wp:heading {"level":3} -->
            <h3 class="wp-block-heading">
              <a
                href="https://solidarityknowsnoborders.kinsta.cloud/resources/?category_name=organising&amp;resource_format=&amp;resource_language=&amp;search_query="
                data-type="link"
                data-id="https://solidarityknowsnoborders.kinsta.cloud/resources/?category_name=organising&amp;resource_format=&amp;resource_language=&amp;search_query="
                >Explore organising resources</a
              >
            </h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>
              We have developed campaigning and organising resources for you to
              use. If you need t-shirts, banners, leaflets, badges and other
              resources.
            </p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->

          <!-- wp:column {"verticalAlignment":"bottom"} -->
          <div class="wp-block-column is-vertically-aligned-bottom">
            <!-- wp:image {"id":729,"width":180,"sizeSlug":"large","linkDestination":"none"} -->
            <figure class="wp-block-image size-large is-resized">
              <img
                src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/11/explore-resources-1024x1024.png"
                alt=""
                class="wp-image-729"
                style="width: 180px"
                width="180"
              />
            </figure>
            <!-- /wp:image -->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
      </div>
      <!-- /wp:column -->

      <!-- wp:column {"className":"take-action-wrapper"} -->
      <div class="wp-block-column take-action-wrapper">
        <!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small","left":"var:preset|spacing|small","right":"var:preset|spacing|small"},"blockGap":{"top":"var:preset|spacing|small","left":"var:preset|spacing|small"}}},"className":"take-action"} -->
        <div
          class="wp-block-columns take-action"
          style="
            padding-top: var(--wp--preset--spacing--small);
            padding-right: var(--wp--preset--spacing--small);
            padding-bottom: var(--wp--preset--spacing--small);
            padding-left: var(--wp--preset--spacing--small);
          "
        >
          <!-- wp:column {"width":"60%","style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
          <div class="wp-block-column" style="flex-basis: 60%">
            <!-- wp:heading {"level":3} -->
            <h3 class="wp-block-heading">
              <a
                href="https://twitter.com/FIRMCharter"
                data-type="link"
                data-id="https://twitter.com/FIRMCharter"
                >Spread the word</a
              >
            </h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph -->
            <p>
              We have developed campaigning and organising resources for you to
              use. If you need t-shirts, banners, leaflets, badges and other
              resources.
            </p>
            <!-- /wp:paragraph -->
          </div>
          <!-- /wp:column -->

          <!-- wp:column {"verticalAlignment":"bottom"} -->
          <div class="wp-block-column is-vertically-aligned-bottom">
            <!-- wp:image {"id":728,"width":180,"sizeSlug":"large","linkDestination":"none"} -->
            <figure class="wp-block-image size-large is-resized">
              <img
                src="https://solidarityknowsnoborders.kinsta.cloud/app/uploads/2023/11/spread-the-word-1024x1024.png"
                alt=""
                class="wp-image-728"
                style="width: 180px"
                width="180"
              />
            </figure>
            <!-- /wp:image -->
          </div>
          <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"90px"} -->
<div style="height: 90px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","theme":"solidarityknowsnoborders","tagName":"footer"} /-->
