<!-- wp:template-part {"slug":"header-future-natures-mobile"} /-->

<!-- wp:template-part {"slug":"header-future-natures-desktop"} /-->

<!-- wp:group {"className":"event"} -->
<div class="wp-block-group event"><!-- wp:group {"tagName":"header","className":"event-header"} -->
<header class="wp-block-group event-header"><!-- wp:image {"id":85,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://i.imgur.com/boUrgsN.png" alt="The Commons" class="wp-image-85"/></figure>
<!-- /wp:image -->

<!-- wp:group {"className":"event-item-header"} -->
<div class="wp-block-group event-item-header"><!-- wp:heading {"level":1} -->
<h1 id="calendar">The Commons</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>         Explore stories, ideas and experiences on enclosures, commoning and ecologies. Use the filters to browse by theme and type of content.        </p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></header>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:carbon-fields/filter-posts {"data":{"form_id":"455"}} /-->

<!-- wp:template-part {"slug":"footer-future-natures"} /-->

<!-- wp:template-part /-->