<!-- wp:template-part {"slug":"header-future-natures-desktop"} /-->

<!-- wp:group {"className":"single-story"} -->
<div class="wp-block-group single-story"><!-- wp:group -->
<header class="single-story-header">
    
<!-- wp:image -->
<img
      class="header-image"
      src="http://localhost:8081/app/uploads/2022/06/Landscape.jpeg"
      alt=""
    />
<!-- /wp:image -->
    <div class="wp-block-group article-header">
      <div class="wp-block-group article-metadata">
        
<!-- wp:post-date /-->
        
<!-- wp:buttons -->
<div class="wp-block-buttons">
          
<!-- wp:button -->
<div class="wp-block-button metadata">
            <a class="wp-block-button__link">STORY</a>
          </div>
<!-- /wp:button -->
        </div>
<!-- /wp:buttons -->
      </div>
      
<!-- wp:heading {"level":3} -->
<h3>When the Earth Started to Sing</h3>
<!-- /wp:heading -->
      
<!-- wp:paragraph -->
<p>Moss, Climate, and Deep Time</p>
<!-- /wp:paragraph -->
      
<!-- wp:paragraph -->
<p class="small">Robin Wall Kimmerer</p>
<!-- /wp:paragraph -->
    </div>
  </header>
<!-- /wp:group -->

<!-- wp:group -->
<div class="wp-block-group article-credit">
    <p class="small">Originally published on</p>
    
<!-- wp:buttons -->
<div class="wp-block-buttons">
      
<!-- wp:button -->
<div class="wp-block-button credit">
        <a class="wp-block-button__link">EMERGENCE MAGAZINE</a>
      </div>
<!-- /wp:button -->
    </div>
<!-- /wp:buttons -->
  </div>
  
<!-- wp:heading {"level":4} -->
<h4>
    Taking a long view of life on Earth, Robin Wall Kimmerer explores how
    mosses—ancient beings who transformed the world—teach us strategies for
    persisting amid a changing climate.
  </h4>
<!-- /wp:heading -->
  
<!-- wp:paragraph -->
<p>
    One summer day in Alaska, I stood within a glacial cave, blue and strange
    beneath the ice. I heard the plunk of drips falling into the meltwater pool
    and shivered in the cold blue light. I listened to the calls of ice becoming
    water. There’s a story that begins here, or maybe it ends. It depends on us.
  </p>
<!-- /wp:paragraph -->
  
<!-- wp:paragraph -->
<p>
    The last time the glaciers melted here in the Adirondacks, they left this
    boulder field behind. Hundreds of glacial erratics—scraped from the ancient
    Laurentian Shield, rolled here beneath the ice sheet—dot the landscape.
    Today, their scarred granite surfaces are robed in mosses. The air itself is
    charged with their radiant green. The boulders look like a herd of Ice Age
    musk oxen, frozen in place with a thick coat of green fur, grazing beneath a
    post-Pleistocene canopy of birches, maples, and hemlocks. As a
    bryoecologist, I’ve spent decades observing these islands of mossy rock.
    What seems like a lifetime to me is barely an eyeblink in the
    ten-thousand-year rest that allowed these rolling stones to gather some
    moss. Mosses and rocks take the long view.
  </p>
<!-- /wp:paragraph -->
  
<!-- wp:heading {"level":3} -->
<h3>
    Mosses were the first plants to blanket the Earth. I wouldn’t be surprised
    if they are also the last.
  </h3>
<!-- /wp:heading -->
  
<!-- wp:paragraph -->
<p>
    One summer day in Alaska, I stood within a glacial cave, blue and strange
    beneath the ice. I heard the plunk of drips falling into the meltwater pool
    and shivered in the cold blue light. I listened to the calls of ice becoming
    water. There’s a story that begins here, or maybe it ends. It depends on us.
  </p>
<!-- /wp:paragraph -->
  
<!-- wp:paragraph -->
<p>
    The last time the glaciers melted here in the Adirondacks, they left this
    boulder field behind. Hundreds of glacial erratics—scraped from the ancient
    Laurentian Shield, rolled here beneath the ice sheet—dot the landscape.
    Today, their scarred granite surfaces are robed in mosses. The air itself is
    charged with their radiant green. The boulders look like a herd of Ice Age
    musk oxen, frozen in place with a thick coat of green fur, grazing beneath a
    post-Pleistocene canopy of birches, maples, and hemlocks. As a
    bryoecologist, I’ve spent decades observing these islands of mossy rock.
    What seems like a lifetime to me is barely an eyeblink in the
    ten-thousand-year rest that allowed these rolling stones to gather some
    moss. Mosses and rocks take the long view.
  </p>
<!-- /wp:paragraph -->
  
<!-- wp:image -->
<figure class="wp-block-image">
    <img
      src="http://localhost:8081/app/uploads/2022/06/Rectangle-23.png"
      alt=""
      class="story-image"
    />
    <figcaption>
      Mosses make minimal demands on their surroundings. All they need is a
      little light, a sheer film of water, and a thin decoction of minerals,
      delivered by rainwater or dissolution of rock.
    </figcaption>
  </figure>
<!-- /wp:image -->
  
<!-- wp:audio {"id":303} -->
<figure class="wp-block-audio">
    <audio controls src=""></audio>
  </figure>
<!-- /wp:audio -->
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-future-natures"} /-->