<!-- wp:template-part {"slug":"header-future-natures-mobile"} /-->

<!-- wp:template-part {"slug":"header-future-natures-desktop"} /-->

<!-- wp:group {"className":"single-story"} -->
<div class="wp-block-group single-story"><!-- wp:group -->
<header class="single-story-header">
    
<!-- wp:image -->
<!-- wp:post-featured-image /-->
<!-- /wp:image -->
    <div class="wp-block-group article-header">
      <div class="wp-block-group article-metadata">
        
<!-- wp:post-date /-->
        
<!-- wp:post-terms {"term":"content-type"} /-->
      </div>
      
<!-- wp:heading {"level":3} -->
<h3>
<!-- wp:post-title /-->
</h3>
<!-- /wp:heading -->
      
<!-- wp:paragraph -->
<!-- wp:carbon-fields/post-subtitle /-->
<!-- /wp:paragraph -->
      
<!-- wp:paragraph -->
<!-- wp:post-author {"showAvatar":false} /-->
<!-- /wp:paragraph -->
    </div>
  </header>
<!-- /wp:group -->

<!-- wp:group -->
<!-- wp:carbon-fields/post-original-publication /-->
  
<!-- wp:post-content /-->
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:carbon-fields/related-posts /-->

<!-- wp:template-part {"slug":"footer-future-natures"} /-->