.searchandfilter {
  ul {
    display: flex;
    justify-content: center;

    li {
      background: white;
      display: flex;
      flex-grow: 1;
      max-width: 30%;
      margin: 20px;
      padding: 0 10px 10px;
      flex-direction: column;
      font-size: var(--wp--preset--font-size--small);
    }
  }

  h4 {
    margin: 0;
    margin-bottom: 0px;
    padding: 5px 0 10px;
    border-bottom-width: 1px;
    border-bottom-color: var(--wp--preset--color--green);
    margin-bottom: 10px;
    text-transform: uppercase !important;
    font-size: var(--wp--preset--font-size--mini);
  }

  select {
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
  }

  @media only screen and (max-width: 600px) {
    ul {
      flex-direction: column;

      li {
        max-width: 100%;
      }
    }
  }
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-direction: column;
}
