.magazine-container {
    margin-block-start: calc(-1 * var( --wp--style--block-gap )) !important;
    margin-left: calc(-1 * var(--wp--custom--gap--horizontal)) !important;
    margin-right: calc(-1 * var(--wp--custom--gap--horizontal)) !important;
    max-width: unset;
    width: unset;

    .wp-block-post {
        .wp-block-cover {
            height: 600px;
            padding: 30px;
            margin: 100px 0px;
            display: flex;
            align-items: flex-start;

            &__inner-container {
                margin-top: 0px;
            }

            &__background {
                z-index: -1;
            }
        }
    }

    @media only screen and (min-width: 600px) {
        .wp-block-post:first-of-type .wp-block-cover {
            margin-top: 0px;
            align-items: flex-end;
        }    
    }

    .editorial-container {
        max-width: 638px;

        .subtitle {
            margin-top: 6px;
            font-size: var(--wp--preset--font-size--body) !important;
        }

        .wp-block {
            &-post-title {
                margin-top: 10px;
                font-weight: 400;
                letter-spacing: -0.07em;
                font-size: var(--wp--preset--font-size--heading-1-5) !important;
            }
            &-read-more {
                margin-top: 16px;
                text-transform: uppercase;
                font-size: var(--wp--preset--font-size--mini);
                font-weight: 400;
                padding: 6px 8px !important;
                line-height: 15px;
            }
            &-issue-number {
                text-transform: uppercase;
                font-size: var(--wp--preset--font-size--mini);
                font-weight: 400;
                padding: 6px 8px !important;
                line-height: 15px;
                background: var(--wp--preset--color--green);
                width: max-content;
            }
        }
    }

}

@media only screen and (max-width: 600px) {
    .magazine-container {

        .wp-block-post .wp-block-cover {
            padding: 30px 10px;
            margin: 30px 0;
        }

        .wp-block-post:first-of-type .wp-block-cover {
            margin-top: 0px;
        }    
        
        .editorial-container {
            .subtitle {
                font-size: 18px !important;
            }
            .wp-block-post-title {
                font-size: 26px !important;
            }
        }
    }
} 
