/* Search bar styles - desktop */

.search.wp-block-template-part {
  display: flex;
  justify-content: center;
}

.search-bar-container {
  width: 60vw;
}

.wp-block-search {
  &__button-inside {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: 600px) {
      margin: 100px 0 !important;
    }
  }

  &__inside-wrapper {
    border-color: var(--wp--preset--color--mid-green) !important;
    border-width: 1px !important;
    background-color: white;
    flex-flow: row-reverse;
    width: 100%;
  }

  &__label {
    font-family: var(--wp--preset--font-family--heading-font);
    font-weight: 700;
    color: var(--wp--preset--color--dark-green) !important;
    font-size: var(--wp--preset--font-size--heading-3) !important;
    text-align: center;
    margin-bottom: 20px;
  }

  &__input {
    font-family: var(--wp--preset--font-family--body-font);
    font-weight: 500;
    color: var(--wp--preset--color--green) !important;
    font-size: var(--wp--preset--font-size--heading-4) !important;
    padding: 0 10px !important;
    letter-spacing: -0.03em;

    &::placeholder {
      color: var(--wp--preset--color--mid-green) !important;
    }
  }

  &__button {
    margin: 0;
    padding-left: 10px !important;
    padding-right: 0px !important;
  }
}

/* Search bar styles - mobile */

@media only screen and (max-width: 600px) {
  .search.wp-block-template-part {
    display: flex;
    justify-content: center;
  }
  
  .search-bar-container {
    width: 90vw;
  }
  .wp-block-search {
    &__button-inside {
      margin-bottom: 90px;
    }

    &__inside-wrapper {
      width: 100% !important;
    }

    &__label {
      @supports (-webkit-touch-callout: none) {
        letter-spacing: -3px !important; /* decrease iOS letter spacing to match other devices */
      }
    }

    &__input {
      font-size: var(--wp--preset--font-size--body) !important;
    }
  }
}

/* Search results - desktop */

.search {
  .column {
    max-width: 660px;
  }

  .row {
    margin-bottom: 30px;

    @media only screen and (min-width: 600px) {
      display: flex;
      align-items: center;
      min-height: 230px;
    }
  }

  .image-container {
    min-width: 20%;
  }

  .wp-block {
    &-post {
      display: flex;
      flex-direction: row;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--wp--preset--color--mid-green);
      margin-top: 30px;

      &-title > a {
        text-decoration-line: none;
        margin-right: 10px;
      }

      &-template {
        max-width: 860px;
      }

      &-featured-image {

        @media only screen and (min-width: 600px) {
          margin-top: 0;

          img {
            width: 200px;
          }
        }

        img {
          object-fit: cover;
          height: 200px;
        }
      }

      &-excerpt {
        margin: 20px 10px 20px 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;

        &__excerpt {
          font-weight: 500;
        }
      }

      &-terms {
        a {
          text-decoration-line: none;
          background-color: var(--wp--preset--color--very-light-green);
          color: var(--wp--preset--color--green);
          font-family: var(--wp--preset--font-family--body-font);
          font-size: var(--wp--preset--font-size--mini);
          font-weight: 400;
          letter-spacing: 0.01em;
          line-height: 15px;
          margin-right: 10px;
          padding: 6px 8px;
          text-align: center;
          text-transform: uppercase;
        }

        &__separator {
          display: none;
        }
      }
    }
  }
}

/* Search results - mobile */

@media only screen and (max-width: 600px) {
  .search .wp-block {
    &-post {
      flex-direction: column;

      &-featured-image {
        margin-top: 20px;
      }
      &-title {
        font-size: 26px;
        @supports (-webkit-touch-callout: none) {
          letter-spacing: -3px !important; /* decrease iOS letter spacing to match other devices */
        }
      }
      &-exerpt {
        font-size: 18px;
        -webkit-line-clamp: 6;
      }
      &-terms {
        margin-top: 0px;
      }
    }
  }
}

/* No results */

.search .wp-block-query-no-results {
  margin-bottom: 150px;
}

