/* Single story page styles */

.wp-block-group.single-story {
    margin-block-start: -30px;
}
  
.single-story {
    .single-story-header {
      min-width: 100vw;
      margin: 0 -30px;

      .wp-block-buttons {
        margin-block-start: 0;
      }

      .taxonomy-content-type {
        a {
          background-color: var(--wp--preset--color--green);
          color: var(--wp--preset--color--pink);
          font-family: "Libre Franklin";
          font-size: var(--wp--preset--font-size--mini);
          font-style: normal;
          font-weight: 400;
          letter-spacing: 0.01em;
          line-height: 15px;
          margin-left: 10px;
          padding: 6px 8px;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }

    .header-image,
    .wp-block-post-featured-image img {
      width: 100%;
      max-height: 30vh;
      object-fit: cover;
    }

    .article-header {
      background: var(--wp--preset--color--dark-green);
      padding: 20px;
      margin-block-start: 0;

      .wp-block-post-title {
        color: var(--wp--preset--color--pink);
        font-family: "Averia Libre";
        font-size: var(--wp--preset--font-size--heading-3);
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.04em;
        line-height: 95%;
      }

      .wp-block-post-date {
        color: var(--wp--preset--color--pink);
        text-transform: uppercase;
      }

      h3 {
        color: var(--wp--preset--color--pink);
        font-size: 36px !important;
        text-align: left;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      p {
        color: var(--wp--preset--color--pink);
        font-size: 20px;
      }

      /* small text inside article header */
      .small,
      p.wp-block-post-author__name {
        font-weight: 400 !important;
        font-size: 14px !important;
        opacity: 0.5 !important;
        line-height: 22px !important;
      }
    }

    .small,
    p.wp-block-post-author__name {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      white-space: nowrap;
    }
    
    .wp-block-button a {
      color: var(--wp--preset--color--pink);
      background-color: var(--wp--preset--color--green);
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      margin-left: 10px;
      border-radius: 0;
    }
    
    /* Aggressive overrides due to setttings through theme.json */
    .wp-block-button a:hover {
      color: var(--wp--preset--color--pink) !important;
      background-color: var(--wp--preset--color--dark-green) !important;
    }

    .credit {
      display: flex;
      margin-top: 0;
    }

    .wp-block-button.credit a {
      background: var(--wp--preset--color--very-light-green);
      color: var(--wp--preset--color--dark-green);
      padding: 6px 8px;
      text-decoration: none;
    }

    .article-credit,
    .article-metadata {
      display: flex;
      align-items: center;
    }

    .article-credit {
      color: var(--wp--preset--color--dark-green);
      margin-top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h3 {
      text-align: center;
      margin-bottom: 60px;
      margin-top: 60px;
    }

    h4 {
      font-weight: 500;
      font-size: 29px;
      line-height: 38px;
      margin-bottom: 60px;
    }

    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 27.9px;
      a {
        text-decoration: underline;
      }
    }

    figcaption {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      text-align: left;
      margin-top: 10px;
    }

    .story-image {
      width: 335px;
      margin-left: auto;
      margin-right: auto;
    }

    .wp-block-audio {
      margin-top: 60px;
      width: 100%;
    }
}

@media only screen and (min-width: 900px) {
.single-story {
  .header-image,
  .wp-block-post-featured-image img {
    max-height: 50vh !important;
  }
}
}
/* Single story desktop styles with landscape header */

@media only screen and (min-width: 1360px) {
  
.single-story {
  .single-story-header {
    position: relative;
    margin: 0 -30px;
    height: 500px;
    overflow: hidden;
    z-index: -1;
  }

  .header-image,
  .wp-block-post-featured-image img {
    position: absolute;
    width: 100%;
    max-height: none !important;
    height: auto;
    top: 0;
    left: 0;
  
  }

  .article-header {
    position: absolute;
    max-width: 640px;
    height: auto;
    margin-left: 30px;
    bottom: 20px;
    
    .wp-block-post-title {
      font-size: var(--wp--preset--font-size--heading-2);
    }

    p,
    .small {
      margin-top: 10px;
    }
    h3 {
      width: auto;
      margin-top: 10px;
    }
  }
  
  .wp-block-post-content {
    margin-left: auto;
    margin-right: auto;
    width: 638px;
  }

  h4 {
    text-align: center;
  }

  h3,
  h4 {
    margin-right: auto;
    margin-left: auto;
  }

  .article-credit {
    margin-right: auto;
    margin-left: auto;
    width: 314px;
    margin-bottom: 30px;
  }

  .wp-block-button.credit {
    white-space: nowrap;
  }

  .story-image {
    width: 860px;
    height: 550px;
    margin-top: 60px;
  }

  figcaption {
    width: 860px;
    margin-right: auto;
    margin-left: auto;
  }

  .wp-block-audio {
    width: 337.89px;
    margin-right: auto;
    margin-left: auto;
  }
}
}

